In [ ]:
import pandas as pd

#檔案:相對路徑的寫法
pd.read_csv('./data/台鐵車站資訊.csv')

In [ ]:
#檔案:絕對目錄的寫法
import os
current_dir = os.path.dirname(os.path.abspath(__name__))
data_dir = os.path.join(current_dir,'data')
csv_filename = '台鐵車站資訊.csv'
csv_path = os.path.join(data_dir,csv_filename)
station_info = pd.read_csv(csv_path)

In [ ]:
csv_filename = '每日各站進出站人數2020.csv'
csv_path = os.path.join(data_dir,csv_filename)
inout2020_df = pd.read_csv(csv_path)

In [9]:
inout2020_merge = pd.merge(inout2020_df,station_info,how='left',left_on='staCode',right_on='stationCode')
df1 = inout2020_merge.reindex(columns=('trnOpDate','gateInComingCnt','gateOutGoingCnt','stationName'))
df1.columns = ['日期','進站人數','出站人數','站名']
df1

             日期  進站人數  出站人數   站名
0      20200101  7552  8154   基隆
1      20200101  1020  1135   三坑
2      20200101  1623  1972   八堵
3      20200101  4130  4813   七堵
4      20200101  1818  2128   百福
...         ...   ...   ...  ...
86927  20201231  3523  3602   瑞芳
86928  20201231     3    18  海科館
86929  20201231    28    34  八斗子
86930  20201231   609   604  四腳亭
86931  20201231   377   444   暖暖

[86932 rows x 4 columns]

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86932 non-null  int64
 1   進站人數    86932 non-null  int64
 2   出站人數    86932 non-null  int64
 3   站名      86932 non-null  object
dtypes: int64(3), object(1)
memory usage: 2.7+ MB

In [11]:
df1['日期'] = pd.to_datetime(df1['日期'].astype(str))
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86932 non-null  datetime64[ns]
 1   進站人數    86932 non-null  int64
 2   出站人數    86932 non-null  int64
 3   站名      86932 non-null  object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 2.7+ MB

In [12]:
df2 = df1.set_index('日期')
df2

            進站人數  出站人數   站名
日期
2020-01-01  7552  8154   基隆
2020-01-01  1020  1135   三坑
2020-01-01  1623  1972   八堵
2020-01-01  4130  4813   七堵
2020-01-01  1818  2128   百福
...          ...   ...  ...
2020-12-31  3523  3602   瑞芳
2020-12-31     3    18  海科館
2020-12-31    28    34  八斗子
2020-12-31   609   604  四腳亭
2020-12-31   377   444   暖暖

[86932 rows x 3 columns]